# SQL
SQL can be a powerful asset as a Data Scientist. In this week's Notebook, we will explore how we can use SQLAlchemy and Pandas to efficiently use SQL databases in our projects.

In [3]:
!conda install sqlalchemy

Fetching package metadata ...........
Solving package specifications: .

Package plan for installation in environment /home/yabo/anaconda3:

The following NEW packages will be INSTALLED:

    libgcc-ng:  7.2.0-h7cc24e2_2

The following packages will be UPDATED:

    conda:      4.3.29-py36ha26b0c0_0 --> 4.3.30-py36h5d9f9f4_0
    sqlalchemy: 1.1.9-py36_0          --> 1.1.13-py36hfb5efd7_0

Proceed ([y]/n)? ^C

In [2]:
import sqlalchemy
from sqlalchemy import (Table, Column, Integer, String, Float, Date,
                        MetaData, create_engine)
from sqlalchemy.sql import select
from datetime import date

In [3]:
# Setup a connection to our toy SQLite database
engine = create_engine('sqlite:///test.db')

   ### Example 1: SQLAlchemy as a SQL Engine
   This is just to show the "core" SQLAlchemy. I don't suggest you necessarily do things this way...

In [4]:
metadata = MetaData()

# Define SQL Schema
students = sqlalchemy.Table('student', metadata,
    Column('netid', String(8), primary_key=True),
    Column('first_name', String(100)),
    Column('last_name', String(100)))

# Create Table in our database
query = students.create(engine, checkfirst=True)

In [12]:
# Construct an insertion query
insert_query = students.insert().values(netid="bcongdo2",
                                        first_name="Ben",
                                        last_name="Congdon")

# The Query we will execute
#print 
insert_query.compile()
# The parameters to this query
#print 
insert_query.compile().params

{'first_name': 'Ben', 'last_name': 'Congdon', 'netid': 'bcongdo2'}

In [13]:
# Actually run the query
connection = engine.connect()
connection.execute(insert_query)

# Run some more insertions
connection.execute(students.insert(), [
        {'netid': 'abc1', 'first_name': 'john', 'last_name': 'doe'},
        {'netid': 'def2', 'first_name': 'jane', 'last_name': 'doe'}
    ])

In [15]:
# Simple "SELECT"
s = select([students]) # Equivilant to "SELECT * FROM students"
result = connection.execute(s)
for i in result:
    print(i)

('bcongdo2', 'Ben', 'Congdon')
('abc1', 'john', 'doe')
('def2', 'jane', 'doe')

In [17]:
# "SELECT" with parameters
# Equivilant to "SELECT netid FROM students WHERE first_name = "Ben""
s = select([students.c.netid]).where(students.c.first_name == "Ben")
for i in connection.execute(s):
    print(i)

('bcongdo2',)

Interested in learning more? Check out [this](http://docs.sqlalchemy.org/en/latest/core/tutorial.html) SQLAlchemy Expression Language tutorial.

### Example 2: SQLAlchemy as a Object Relational Mapping tool
When using an ORM, our SQL becomes even more "object" like, and we get to think less about the actual queries that are running. We are getting closer to a "in-language" database layer - but really, this is just providing an extra layer of abstraction.

In [18]:
# Random SQLAlchemy magic
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Our Movie class
class Movie(Base):
    __tablename__ = "movies"
    id = Column(Integer, primary_key=True)
    title = Column(String)
    rating = Column(Float)
    duration_minutes = Column(Integer)
    release_date = Column(Date)
    
# Tell SQLAlchemy to create the table
Base.metadata.create_all(engine)

In [19]:
# Now we can create and modify Movie objects
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

inception = Movie(title="Inception",
                  rating=8.8,
                  duration_minutes=148,
                  release_date=date(2010, 7, 16))
interstellar = Movie(title="Interstellar",
                     rating=8.6,
                     duration_minutes=169,
                     release_date=date(2014, 11, 4))

# Add our ORM objects to our session
session.add(inception)
session.add(interstellar)

# Tell SQLAlchemy to commit all changes to the database
session.commit()

In [21]:
# Queries
# Get all movies
for movie in session.query(Movie):
    print(movie.title, movie.id, movie.rating)

Inception 1 8.8
Interstellar 2 8.6

In [23]:
# Get movies with rating above 8.4
print(session.query(Movie).filter(Movie.rating > 8.4)[0].title)

Inception

Interested in learning more? Look [here](http://docs.sqlalchemy.org/en/rel_1_1/orm/tutorial.html) for a good SQLAlchemy ORM tutorial.

### Example 3: Pandas for SQL

In [24]:
import pandas as pd

# Read in a CSV to a dataframe
df = pd.read_csv('airplane_crashes.csv', encoding='utf-8')

# Export a dataframe to a SQL table
df.to_sql('airplane_crashes', connection, if_exists='replace')

In [25]:
# Load a SQL table into a dataframe
df_read = pd.read_sql('airplane_crashes', connection)
df_read

,index,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,None,Demonstration,Wright Flyer III,None,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,None,Test flight,Dirigible,None,None,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,2,08/06/1913,None,"Victoria, British Columbia, Canada",Private,-,None,Curtiss seaplane,None,None,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,3,09/09/1913,18:30,Over the North Sea,Military - German Navy,None,None,Zeppelin L-1 (airship),None,None,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,None,None,Zeppelin L-2 (airship),None,None,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...
5,5,03/05/1915,01:00,"Tienen, Belgium",Military - German Navy,None,None,Zeppelin L-8 (airship),None,None,41.0,21.0,0.0,Crashed into trees while attempting to land af...
6,6,09/03/1915,15:20,"Off Cuxhaven, Germany",Military - German Navy,None,None,Zeppelin L-10 (airship),None,None,19.0,19.0,0.0,"Exploded and burned near Neuwerk Island, when..."
7,7,07/28/1916,None,"Near Jambol, Bulgeria",Military - German Army,None,None,Schutte-Lanz S-L-10 (airship),None,None,20.0,20.0,0.0,"Crashed near the Black Sea, cause unknown."
8,8,09/24/1916,01:00,"Billericay, England",Military - German Navy,None,None,Zeppelin L-32 (airship),None,None,22.0,22.0,0.0,Shot down by British aircraft crashing in flames.
9,9,10/01/1916,23:45,"Potters Bar, England",Military - German Navy,None,None,Zeppelin L-31 (airship),None,None,19.0,19.0,0.0,Shot down in flames by the British 39th Home D...
10,10,11/21/1916,None,"Mainz, Germany",Military - German Army,None,None,Super Zeppelin (airship),None,None,28.0,27.0,0.0,Crashed in a storm.
11,11,11/28/1916,23:45,"Off West Hartlepool, England",Military - German Navy,None,None,Zeppelin L-34 (airship),None,None,20.0,20.0,0.0,Shot down by British anti-aircraft fire and ai...
12,12,03/04/1917,None,"Near Gent, Belgium",Military - German Army,None,None,Airship,None,None,20.0,20.0,0.0,Caught fire and crashed.
13,13,03/30/1917,None,Off Northern Germany,Military - German Navy,None,None,Schutte-Lanz S-L-9 (airship),None,None,23.0,23.0,0.0,Struck by lightning and crashed into the Balti...
14,14,05/14/1917,05:15,"Near Texel Island, North Sea",Military - German Navy,None,None,Zeppelin L-22 (airship),None,None,21.0,21.0,0.0,"Crashed into the sea from an altitude of 3,000..."
15,15,06/14/1917,08:45,"Off Vlieland Island, North Sea",Military - German Navy,None,None,Zeppelin L-43 (airship),None,None,24.0,24.0,0.0,Shot down by British aircraft.
16,16,08/21/1917,07:00,Off western Denmark,Military - German Navy,None,None,Zeppelin L-23 (airship),None,None,18.0,18.0,0.0,Shot down by British aircraft.
17,17,10/20/1917,07:45,"Near Luneville, France",Military - German Navy,None,None,Zeppelin L-44 (airship),None,None,18.0,18.0,0.0,Shot down by French anti-aircraft fire.
18,18,04/07/1918,21:30,Over the Mediterranean,Military - German Navy,None,None,Zeppelin L-59 (airship),None,None,23.0,23.0,0.0,Exploded and crashed into the sea off the sout...
19,19,05/10/1918,None,"Off Helgoland Island, Germany",Military - German Navy,None,None,Zeppelin L-70 (airship),None,None,22.0,22.0,0.0,Shot down by British aircraft crashing from a ...
20,20,08/11/1918,10:00,"Ameland Island, North Sea",Military - German Navy,None,None,Zeppelin L-53 (airship),None,None,19.0,19.0,0.0,Shot down by british aircraft.
21,21,12/16/1918,None,"Elizabeth, New Jersey",US Aerial Mail Service,None,None,De Havilland DH-4,97,None,1.0,1.0,0.0,None
22,22,05/25/1919,None,"Cleveland, Ohio",US Aerial Mail Service,None,None,De Havilland DH-4,61,None,1.0,1.0,0.0,Caught fire in midair. The pilot leaped from t...
23,23,07/19/1919,None,"Dix Run, Pennsylvania",US Aerial Mail Service,None,None,De Havilland DH-4,82,None,1.0,1.0,0.0,None
24,24,10/02/1919,None,"Newcastle, England",Aircraft Transport and Travel,None,None,De Havilland DH-4,None,None,1.0,1.0,0.0,None
25,25,10/14/1919,None,"Cantonsville, Maryland",US Aerial Mail Service,None,None,Curtiss R-4LM,32,None,1.0,1.0,0.0,None
26,26,10/20/1919,None,English Channel,Aircraft Transport and Travel,None,None,De Havilland DH-4,G-EAHG,None,NaN,NaN,NaN,None
27,27,10/30/1919,None,"Long Valley, New Jersey",US Aerial Mail Service,None,None,De Havilland DH.4,77,None,1.0,1.0,0.0,None
28,28,03/10/1920,None,"New Paris, Indiana",US Aerial Mail Service,None,None,De Havilland DH-4,65,None,1.0,1.0,0.0,None
29,29,03/30/1920,None,"Newark, New Jersey",US Aerial Mail Service,None,None,De Havilland DH-4,72,None,1.0,1.0,0.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5238,5238,11/13/2008,11:35,"Fallujah, Iraq",Falcon Aviation Group,None,al-Asad air base - Baghdad,Antonov An-12,S9-SAO,346908,7.0,7.0,0.0,"The cargo plane, chartered by FedEx, crashed w..."
5239,5239,11/16/2008,10:32,"Thormanby Island, British Columbia, Canada",PacifiCoastal Airlines,None,Vancouver - Powell River - Toba Inlet,Grumman G-21A Goose,C-FPCK,1187,8.0,7.0,0.0,The charter aircraft crashed into a steep hill...
5240,5240,11/27/2008,17:00,"Off Perpignan, France",XL Airways leased from Air New Zealand,None,Training,Airbus A320-232,D-AXLA,2500,7.0,7.0,0.0,The Airbus A320 was leased by XL Airways of Ge...
5241,5241,12/03/2008,12:13,"San Juan, Puerto Rico",Webstas Aviation Services Inc.,None,"Tortola Virgin Islands - San Juan, PR",Rockwell International 690B,N318WA,11444,3.0,3.0,0.0,The plane struck the side of El Yunque mountai...
5242,5242,12/11/2008,06:25,"Off Sabine Pass, Texas",Rotorcraft Leasing Co,None,Sabine Pass - Oil Platform,Bell 206-L4 Jet Ranger III,N180AL,52104,3.0,3.0,0.0,The helicopter ferrying workers to an off shor...
5243,5243,12/15/2008,16:40,Off Turks and Caicos Islands,Alantis Aviation,None,"Santiago, Dominican Republi- Providenciales",Britten Norman BN-2A Trislander Mk3,N650LP,1029,12.0,12.0,0.0,The charter flight disappeared from radar 35 m...
5244,5244,01/04/2009,15:30,Near Houma Louisiana,Petroleum Helicopters Inc,None,Bayou Penchant - Off shore oil fields,Sikorsky S-76C,N748P,760629,9.0,8.0,0.0,A helicopter bound for offshore oil fields wen...
5245,5245,01/15/2009,15:06,"New York, New York",US Airways,1549,"New York, NY- Charlotte, NC",Airbus A320-214,N106US,1044,155.0,0.0,0.0,The plane was taking off from La Guardia Airpo...
5246,5246,02/07/2009,14:00,"Manacapuru, Brazil",Aerotaxi Manaus,None,Coari - Manus,Bandeirante EMB-110P1,PT-SEA,110352,28.0,24.0,0.0,The plane was being used as an air taxi to fer...
5247,5247,02/07/2009,06:30,"Trigoria, Italy",Air One Executive,None,Rome - Bologna,Cessna 650 Citation III,I-FEEV,650-0105,2.0,2.0,0.0,"The plane, heading to Bologna to pick up a med..."
5248,5248,02/12/2009,22:17,"Clarence Center, New York",Continental Connection/Colgan Air,3407,"Newark, N.J. - Buffalo, NY",Bombardier DHC-8-402 Q400,N200WQ,4200,49.0,49.0,1.0,The commuter plane crashed while attemptiong t...
5249,5249,02/15/2009,16:05,"Chanco, Chile",Flight Service,None,None,Bell UH-1H,None,None,13.0,13.0,0.0,The helicopter was carrying firemen to a nearb...
5250,5250,02/20/2009,04:10,"Luxor, Egypt",Aerolift,None,"Entebbe, Uganda - Luxor, Egypt - Niklaev, Ukraine",Antonov 12V,S9-SVN,6344310,5.0,5.0,0.0,"While attemping to take off from Luxor, the ca..."
5251,5251,02/25/2009,10:31,"Amsterdam, Netherlands",Turkish Airlines,1951,"Istanbul, Turkey - Amsterdam, Netherlands",Boeing 737-8F2,TC-JGE,29789/1065,134.0,9.0,0.0,The plane was on final approach to Runway 18R ...
5252,5252,03/09/2009,05:40,"Lake Victoria, Uganda",Aerolift,None,"Entebbe, Uganda - Mogadishu, Somalia",Ilyushin Il-76T,S9-SAB,073410301,11.0,11.0,0.0,The cargo plane carrying and water purificatio...
5253,5253,03/12/2009,09:48,"Off St. Johns, Newfoundland",Cougar Helicopters,None,St. Johns - Hibernia platform,Sikorsky S-92A,C-GZCH,920048,18.0,17.0,0.0,The pilot reported a technical malfunction and...
5254,5254,03/22/2009,14:28,"Butte, Montana",Eagle Cap Leasing,None,"Oroville, CA - Butte, MT",Pilatus PC-12/45,N128CM,403,14.0,14.0,0.0,The plane crashed 500 feet short of the runway...
5255,5255,03/23/2009,06:48,"Tokyo, Japan",FedEx,80,"Guangzhou, China - Tokyo, Japan",McDonnell Douglas MD-11,N526FE,48600/560,2.0,2.0,0.0,The cargo plane crashed and burst into flame a...
5256,5256,04/01/2009,14:00,"Off Crimond, Scotland",Bond Offshore Helicopters,None,Miller field - Aberdeen,Eurocopter AS 332L2 Super Puma 2,None,None,16.0,16.0,0.0,The helicopter crashed 35 miles East of Crimon...
5257,5257,04/06/2009,12:30,"Bandung, Indonesia",Military - Indonesian Air Force,None,Militiary training,Fokker F-27 Friendship 400M,A-2703,10538,24.0,24.0,0.0,While returning from a military training exerc...
5258,5258,04/09/2009,07:00,"Near Wamena, Indonesia",Aviastar Mandiri,None,Jayapura - Wamena,British Aerospace BAe-146-300,PK-BRD,E3189,6.0,6.0,0.0,The cargo plane crashed into Gunung Pike mount...
5259,5259,04/17/2009,10:30,"Mount Gergaji, Indonesia",Mimika Air,514,Ilaga - Mulia,Pilatus PC-6,PK-LTJ,959,11.0,11.0,0.0,The passenger plane crashed in poor weather in...
5260,5260,04/17/2009,15:32,"Canaima National Park, Venezuela",Aerotuy airline,None,Canaima - Porlamar,Cessna 208B Grand Caravan,YV-1181,208B-0695,11.0,1.0,0.0,"The plane, carrying 9 tourists, crashed 5 mile..."
5261,5261,04/29/2009,06:00,"Massamba, DemocratiRepubliof Congo",Bako Air,None,"Bangui, CAR- Brazzaville, Congo - Harare, Zimb...",Boeing B-737-200,TL-ADM,22264/753,7.0,7.0,0.0,Crashed while en route on a ferrying flight. T...
5262,5262,05/03/2009,12:00,"Near El Alto de Rubio, Venezuela",Military - Venezuelan Army,None,Patrol,Mi-35,EV08114,None,18.0,18.0,0.0,The helicopter was patrolling along the Venezu...
5263,5263,05/20/2009,06:30,"Near Madiun, Indonesia",Military - Indonesian Air Force,None,Jakarta - Maduin,Lockheed C-130 Hercules,A-1325,1982,112.0,98.0,2.0,"While on approach, the military transport cras..."
5264,5264,05/26/2009,None,"Near Isiro, DemocratiRepubliCongo",Service Air,None,Goma - Isiro,Antonov An-26,9Q-CSA,5005,4.0,4.0,NaN,The cargo plane crashed while on approach to I...
5265,5265,06/01/2009,00:15,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,447,Rio de Janeiro - Paris,Airbus A330-203,F-GZCP,660,228.0,228.0,0.0,The Airbus went missing over the AtlantiOcean ...
5266,5266,06/07/2009,08:30,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,None,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,C-FJJR,424,1.0,1.0,0.0,The air ambulance crashed into hills while att...
5267,5267,06/08/2009,None,"State of Arunachal Pradesh, India",Military - Indian Air Force,None,Mechuka for Jorhat,Antonov An-32,None,None,13.0,13.0,0.0,The military transport went missing while en r...

In [26]:
# Execute SQL to get a dataframe
df_read = pd.read_sql('SELECT Date, Time, Type FROM airplane_crashes', connection)
df_read

            Date   Time                                 Type
0     09/17/1908  17:18                     Wright Flyer III
1     07/12/1912  06:30                            Dirigible
2     08/06/1913   None                     Curtiss seaplane
3     09/09/1913  18:30               Zeppelin L-1 (airship)
4     10/17/1913  10:30               Zeppelin L-2 (airship)
5     03/05/1915  01:00               Zeppelin L-8 (airship)
6     09/03/1915  15:20              Zeppelin L-10 (airship)
7     07/28/1916   None        Schutte-Lanz S-L-10 (airship)
8     09/24/1916  01:00              Zeppelin L-32 (airship)
9     10/01/1916  23:45              Zeppelin L-31 (airship)
10    11/21/1916   None             Super Zeppelin (airship)
11    11/28/1916  23:45              Zeppelin L-34 (airship)
12    03/04/1917   None                              Airship
13    03/30/1917   None         Schutte-Lanz S-L-9 (airship)
14    05/14/1917  05:15              Zeppelin L-22 (airship)
15    06/14/1917  08:45              Zeppelin L-43 (airship)
16    08/21/1917  07:00              Zeppelin L-23 (airship)
17    10/20/1917  07:45              Zeppelin L-44 (airship)
18    04/07/1918  21:30              Zeppelin L-59 (airship)
19    05/10/1918   None              Zeppelin L-70 (airship)
20    08/11/1918  10:00              Zeppelin L-53 (airship)
21    12/16/1918   None                    De Havilland DH-4
22    05/25/1919   None                    De Havilland DH-4
23    07/19/1919   None                    De Havilland DH-4
24    10/02/1919   None                    De Havilland DH-4
25    10/14/1919   None                        Curtiss R-4LM
26    10/20/1919   None                    De Havilland DH-4
27    10/30/1919   None                    De Havilland DH.4
28    03/10/1920   None                    De Havilland DH-4
29    03/30/1920   None                    De Havilland DH-4
...          ...    ...                                  ...
5238  11/13/2008  11:35                        Antonov An-12
5239  11/16/2008  10:32                  Grumman G-21A Goose
5240  11/27/2008  17:00                      Airbus A320-232
5241  12/03/2008  12:13          Rockwell International 690B
5242  12/11/2008  06:25           Bell 206-L4 Jet Ranger III
5243  12/15/2008  16:40  Britten Norman BN-2A Trislander Mk3
5244  01/04/2009  15:30                       Sikorsky S-76C
5245  01/15/2009  15:06                      Airbus A320-214
5246  02/07/2009  14:00                Bandeirante EMB-110P1
5247  02/07/2009  06:30              Cessna 650 Citation III
5248  02/12/2009  22:17            Bombardier DHC-8-402 Q400
5249  02/15/2009  16:05                           Bell UH-1H
5250  02/20/2009  04:10                          Antonov 12V
5251  02/25/2009  10:31                       Boeing 737-8F2
5252  03/09/2009  05:40                      Ilyushin Il-76T
5253  03/12/2009  09:48                       Sikorsky S-92A
5254  03/22/2009  14:28                     Pilatus PC-12/45
5255  03/23/2009  06:48              McDonnell Douglas MD-11
5256  04/01/2009  14:00     Eurocopter AS 332L2 Super Puma 2
5257  04/06/2009  12:30          Fokker F-27 Friendship 400M
5258  04/09/2009  07:00        British Aerospace BAe-146-300
5259  04/17/2009  10:30                         Pilatus PC-6
5260  04/17/2009  15:32            Cessna 208B Grand Caravan
5261  04/29/2009  06:00                     Boeing B-737-200
5262  05/03/2009  12:00                                Mi-35
5263  05/20/2009  06:30              Lockheed C-130 Hercules
5264  05/26/2009   None                        Antonov An-26
5265  06/01/2009  00:15                      Airbus A330-203
5266  06/07/2009  08:30     Britten-Norman BN-2A-27 Islander
5267  06/08/2009   None                        Antonov An-32

[5268 rows x 3 columns]